{% extends 'base.html' %}

{% block title %} Ir a un techo {% endblock %}
{% block chatsactive %} active {% endblock chatsactive %}

{% block body %}


    <div class="container">
        <h1 class="text-center">¿A que techo vamos ?</h1>
        <br>

        <div class="row">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Techo"
                       id="roof-name-input">
                <button class="btn btn-primary" id="roof-name-submit" type="button">Ir</button>
            </div>

            <h1>Sugerencias</h1>

            <div class="row">
                {% for key, value in options.items %}
                    <div class="col">
                        <div class="d-grid gap-2">
                            <a class="btn btn-primary" onclick="add_text_to_roof('{{ key }}')" id="opt-fish" >
                                {{ option }}
                                <i class="iconify" data-icon="{{ value }}"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>

            <div class="row">
                <h1>Actuales: </h1>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for roof in roofs %}
                        <div class="col">
                            <div class="card border-warning">
                                <img src="/media/images/roof.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    {% if roof.roof_name %}
                                        <h5 class="card-title michi-color">Nombre : {{ roof.roof_name }}</h5>
                                    {% else %}
                                        <h5 class="card-title michi-color">Sin nombre aun</h5>
                                    {% endif %}
                                    <p class="card-text michi-color">
                                        Techo {{ roof.roof_id }}
                                        <hr class="michi-color">

                                    </p>
                                       <p class="card-text michi-color">
                                           {{ roof.michiroofusers_set.all|length }} Michis
                                       </p>
                                        <ul>
                                            {% for michi in roof.michiroofusers_set.all %}
                                                <ul class="list-group michi-color">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center mt-1">
                                                        <a href="{% url 'view_profile' user_id=michi.user_id.id %}">{{ michi.user_id.nickname }}</a>
                                                        <span class="badge bg-primary rounded-pill">
                                                            {{ roof.michiroofchats_set.all|message_in_roofs:michi.user_id|length }}
                                                        </span>
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        </ul>

                                        <div class="d-grid gap-2">
                                            <a class="btn btn-outline-primary" href="{% url 'roof' roof_id=roof.roof_id %}" type="button">Ingresar</a>
                                        </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <marquee scrolldelay="20" truespeed>
                <img src="/media/images/cat-roof.gif">
            </marquee>
            <hr>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script>
        function add_text_to_roof(text) {
            document.querySelector("#roof-name-input").value += text + ' ';
        }
    </script>

    <script>

        const cyrb53 = function(str, seed = 0) {
            let h1 = 0xdeadbeef ^ seed, h2 = 0x41c6ce57 ^ seed;
            for (let i = 0, ch; i < str.length; i++) {
                ch = str.charCodeAt(i);
                h1 = Math.imul(h1 ^ ch, 2654435761);
                h2 = Math.imul(h2 ^ ch, 1597334677);
            }
            h1 = Math.imul(h1 ^ (h1>>>16), 2246822507) ^ Math.imul(h2 ^ (h2>>>13), 3266489909);
            h2 = Math.imul(h2 ^ (h2>>>16), 2246822507) ^ Math.imul(h1 ^ (h1>>>13), 3266489909);
            return 4294967296 * (2097151 & h2) + (h1>>>0);
        };

        document.querySelector('#roof-name-input').focus();

        document.querySelector('#roof-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#roof-name-submit').click();
            }
        };
        document.querySelector('#roof-name-submit').onclick = function(e) {
            var roofName = document.querySelector('#roof-name-input').value;
            window.location.pathname = '/chat/' + cyrb53(roofName) + '/';
        };
    </script>
{% endblock %}