{% extends 'base.html' %}

{% block title %} Techo COMPLETAR {% endblock %}
{% block chatsactive %} active {% endblock chatsactive %}

{% block css %}
    {% load static %}
    <link href="{% static 'css/roofs.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="">
                    <div class="card" id="chat1" style="border-radius: 15px;">
                        <div
                                class="card-header d-flex justify-content-between align-items-center michi-color p-3 text-white border-bottom-0"
                                style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                            <i class="fas fa-angle-left"></i>
                            <p class="mb-0 fw-bold">Algun techo que solo pocos gatos conocen</p>
                            <i class="fas fa-times"></i>
                        </div>

                        <div class="card-body" >

                            <div class="conteiner pe-3" id="chat-log" style="height: 100%; overflow-y: scroll;" >

                            </div>
                            <hr>
                            <div class="form-outline">
                                <textarea class="form-control" id="chat-message-input" rows="4"></textarea>
                                <div class="d-grid gap-2">
                                    <button id="chat-message-submit"
                                            class="btn btn-outline-primary mt-2"
                                            type="button">Enviar</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    {{ roof_name|json_script:"roof-name" }}
    {{ user.id|json_script:"user_id" }}
    {{ user.michiprofile.nickname|json_script:"user_nick" }}
    {{ user.michiprofile.get_image_relative_path|json_script:"user_img" }}

{% endblock %}


{% block body2 %}
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ roof_name|json_script:"roof-name" }}
    {{ user.id|json_script:"user_id" }}
    {{ user.michiprofile.get_image_relative_path|json_script:"user_img" }}

{% endblock %}

{% block js %}
    <script type='text/javascript' src='{% static 'js/main.js' %}'></script>
{% endblock %}