{% extends 'base.html' %}

{% block title %} About {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}
    <div class="card michi-color" style="width: 100%;">
        <div class="card-body">
            <h1 class="card-title text-center">Acerca del proyecto</h1>
            <h4 class="card-subtitle mb-2">Proyecto</h4>
            <ul>
                <li>
                    <p>MichiBlog creado para proyecto final de curso Python para CoderHouse</p>
                </li>
                <li>
                    <p>Tecnologia utilizada: Python + Django templates</p>
                </li>
            </ul>
            <h4 class="card-subtitle mb-2">Alumno</h4>
            <ul>
                <li>
                    <p>Desarrollado por Julian Nahuel Alvarez</p>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}