<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link rel="icon" href="/media/images/favicon.ico">

    <meta charset="UTF-8">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!--- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
    <!-- iconify -->
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <!-- Titulo -->
    <title>MichiBlog - {% block title %} {% endblock %}</title>

    <!-- Custom css -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    {% block css %}
    {% endblock %}
</head>

<body>
    <div id="mainNavigation">
        <nav role="navigation">
            <div class="text-center border-bottom">
                {% if request.user.is_superuser %}
                    <img src="/media/images/logo-admin.jpeg" alt="" class="img-fluid img-header mx-3">
                {% else %}
                    <img src="/media/images/logo-header.svg" alt="" class="img-fluid img-header mx-3">
                {% endif %}
            </div>
        </nav>
        <div class="navbar-expand-md">
            <div class="navbar-dark text-center my-2">
                <button class="navbar-toggler w-75" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
                </button>
            </div>
            <div class="text-center mt-3 collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto ">
                    <li class="nav-item">
                        <a class="nav-link {% block homeactive %} {% endblock homeactive %}" aria-current="page" href="{% url 'michi_posts' %}">Blogs</a>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% block add_posts_active %} {% endblock add_posts_active %}" href="{% url 'add_posts' %}">Agregar Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block chatsactive %} {% endblock chatsactive %}" href="{% url 'create_roof' %}">Chats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block favoriteactive %} {% endblock favoriteactive %}" href="{% url 'fav_michi_posts' %}">Mis favoritos</a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle {% block michiprofileactive %} {% endblock michiprofileactive %}" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Perfil {{request.user}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'view_profile' user_id=user.id %}">Ver</a></li>
                                <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Editar</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">LogOut</a></li>
                            </ul>
                        </li>
                        {% if request.user.is_superuser %}
                       <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% block adminactive %} {% endblock adminactive %}" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Administracion
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'categories' %}">Categorias</a></li>
                                <li><a class="dropdown-item" href="{% url 'michis' %}">Michis</a></li>
                            </ul>
                        </li>
                        {% endif %}

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% block registeractive %} {% endblock registeractive %}" href="{% url 'register' %}">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block loginactive %} {% endblock loginactive %}" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>


    <!-- Messages -->
    {% if messages %}
        {% for message in messages %}
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="success" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </symbol>
                    <symbol id="info" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                    <symbol id="warning" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                    <symbol id="error" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>

                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="danger:">
                        <use xlink:href="#{{ message.tags }}"/></svg>
                    <div class = "col-sm-11">
                        {{ message }}
                    </div>
                    <div class = "">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% endif %}
    <!-- End Messages -->

    <!--Container Main start-->
    <div class="mt-4">
        {% block body %}
        {% endblock %}
    </div>

    <!--Container Main end-->

    <!-- Custom JS -->
    {% block js %}
    {% endblock %}

</body>

<!-- Footer-->
<footer class="footer">
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="{% url 'about' %}">About</a></li>
                    <li class="list-inline-item">⋅</li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Michi-Blog - Proyecto Coder Python 2022.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="https://www.linkedin.com/in/julian-alvarez-8454bb68/"><i class="bi-linkedin fs-3"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
</html>