{% extends "base.html" %}

{% block homeactive %} active {% endblock homeactive %}

{% block title %} Pagina Principal {% endblock %}

{% block body %}

    {% if not posts %}
        <div class="text-center">
            <p class="text-center">No hay post aun.</p>
            <img src="https://http.cat/204" class="card-img-top img-post-seemore" alt="...">
        </div>
    {% endif %}

    {% for post in posts %}
        <div class="card blog-post container m-3">
            {% if post.michi_author.user.id == request.user.id %}
                <p class="text-end me-5"><b>Post propio</b></p>
            {% endif %}

            <div class="row">
                <div class="col-2">
                    {% if post.header_image %}
                        <img src="/media/{{ post.header_image }}" class="card-img-top img-post-seemore" alt="...">
                        <br>
                    {% endif %}

                </div>

                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.subtitle }}</p>
                        <span class="card-text">
                            {% if post.content|safe|length > 20 %}
                                {{post.content|slice:20}}...
                            {% else  %}
                                {{post.content|safe }}
                            {% endif %}
                       </span>
                        <p class="card-text">
                            <small class="text-muted">{{ post.created_at }}</small>
                        </p>
                        <p class="card-text text-end">
                            <small class="text-muted">10 miaus</small>
                        </p>
                    </div>
                </div>

                <div class="col-2" style="position: relative">
                    <a href="{% url 'post_detail' post_id=post.id%}">
                        <img src="/media/images/see-more.webp" type = "button" href="/" class="img-post-seemore"
                             style="position: absolute;" alt="...">
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}