{% extends "base.html" %}

{% block homeactive %} active {% endblock homeactive %}

{% block title %} Ver MichiPost {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">{{ post.title }}</h1>
        <div class="row">
            <div class="col-10">
                <h3 class="">{{ post.subtitle }}</h3>
                <p class="">{{ post.category.category }}</p>
            </div>
            <div class="col-2 text-muted">
                <p>Por <a href="{% url 'view_profile' user_id=post.michi_author.id %}">{{ post.michi_author.nickname }}</a> </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if post.content_image %}
                    <img src="/media/{{ post.header_image }}" class="img-thumbnail post-image-header" alt="...">
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-8">
                <p>{{ post.content|safe }}</p>
            </div>
            <div class="col-4">
                {% if post.content_image %}
                    <img src="/media/{{ post.content_image }}" class="img-thumbnail post-image-header" alt="...">
                {% endif %}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-8">
                <p class="text-start">Patitas:
                    {% if not count_stars %}
                        <span>No hay patitas aun.</span>
                    {% else %}
                        {{ count_stars }}
                    {% endif %}
                </p>

            </div>
            <div class="col-4">
                <p class="text-end">Creado el {{ post.created_at }}</p>
            </div>

            {% if post.michi_author.user.id == request.user.id %}
                <form action="{% url 'delete_post' post_id=post.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger">Eliminar post</button>
                </form>
            {% endif %}

        </div>
    </div>

    <hr>

    <!-- Puntaje -->
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                {% if user.is_authenticated %}
                        <div class="container">
                            <div class="form-floating">
                                <div class="d-grid gap-2">
                                    <div class="row">
                                        <div class="col">
                                            <h5>Patitas: </h5>
                                        </div>
                                        <div class="btn-group" role="group">
                                                <form action="{% url 'set_post_stars' post_id=post.id stars=1 %}" method="POST">
                                                    {% csrf_token %}
                                                    {% if stars.stars >= 1 %}
                                                        <button type="submit" class="btn btn-outline-warning btn-sm">
                                                            <span class="iconify" data-icon="icons8:cat-footprint"></span>
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-outline-warning btn-sm">
                                                            <span class="iconify" data-icon="mdi:checkbox-blank-circle-outline"></span>
                                                        </button>
                                                    {% endif %}
                                                </form>
                                                <form action="{% url 'set_post_stars' post_id=post.id stars=2 %}" method="POST">
                                                    {% csrf_token %}
                                                    {% if stars.stars >= 2 %}
                                                        <button type="submit" class="btn btn-outline-warning btn-sm">
                                                            <span class="iconify" data-icon="icons8:cat-footprint"></span>
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-outline-warning btn-sm">
                                                            <span class="iconify" data-icon="mdi:checkbox-blank-circle-outline"></span>
                                                        </button>
                                                    {% endif %}
                                                </form>
                                                <form action="{% url 'set_post_stars' post_id=post.id stars=3 %}" method="POST">
                                                    {% csrf_token %}
                                                    {% if stars.stars >= 3 %}
                                                        <button type="submit" class="btn btn-outline-warning btn-sm">
                                                            <span class="iconify" data-icon="icons8:cat-footprint"></span>
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-outline-warning btn-sm">
                                                            <span class="iconify" data-icon="mdi:checkbox-blank-circle-outline"></span>
                                                        </button>
                                                    {% endif %}
                                                </form>
                                                <form action="{% url 'set_post_stars' post_id=post.id stars=4 %}" method="POST">
                                                    {% csrf_token %}
                                                    {% if stars.stars >= 4 %}
                                                        <button type="submit" class="btn btn-outline-warning btn-sm">
                                                            <span class="iconify" data-icon="icons8:cat-footprint"></span>
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-outline-warning btn-sm">
                                                            <span class="iconify" data-icon="mdi:checkbox-blank-circle-outline"></span>
                                                        </button>
                                                    {% endif %}
                                                </form>
                                                <form action="{% url 'set_post_stars' post_id=post.id stars=5 %}" method="POST">
                                                    {% csrf_token %}
                                                    {% if stars.stars >= 5 %}
                                                        <button type="submit" class="btn btn-outline-warning btn-sm">
                                                            <span class="iconify" data-icon="icons8:cat-footprint"></span>
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-outline-warning btn-sm">
                                                            <span class="iconify" data-icon="mdi:checkbox-blank-circle-outline"></span>
                                                        </button>
                                                    {% endif %}
                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Puntaje -->

    <!-- Comentarios -->
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                {% if not post.michicomments_set.all %}
                    <p>No hay comentarios aun</p>
                {% endif %}

                {% if user.is_authenticated %}
                    <div class="container">
                    <h3>Agregar comentario</h3>
                    <form action="{% url 'add_comment' post_id=post.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-floating">
                            <textarea class="form-control" name="comment" style="height: 100px"></textarea>
                            <br>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary" type="button">Agregar comentario</button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <p>Para comentar debes estar logueado</p>
                {% endif %}

                <div class="headings d-flex justify-content-between align-items-center mt-3">
                    <h5>Comentarios</h5>
                </div>
                {% for comment in post.michicomments_set.all|dictsortreversed:"created_at" %}
                    {% if not comment.erased %}
                        {% if not comment.parent_comment %}
                            <div class="card p-3 mt-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="user d-flex flex-row align-items-center">
                                        <img src="/media/{{ comment.michi_author.profile_picture }}" width="30" class="user-img rounded-circle me-2">
                                        <span>
                                            <a href="{% url 'view_profile' user_id=comment.michi_author.id %}">
                                                <small class="font-weight-bold text-primary">{{ comment.michi_author.nickname }}: </small>
                                            </a>
                                            <br>
                                            <small class="font-weight-bold michi-color ms-3">{{ comment.content }}</small>
                                        </span>
                                    </div>
                                    <small class="text-muted">{{ comment.created_at }}</small>
                                </div>
                                <div class="action d-flex justify-content-between mt-2 align-items-center">
                                    <div class="reply px-4">
                                        {% if comment.michi_author.user.id == request.user.id %}
                                            <form action="{% url 'delete_comment' comment_id=comment.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-floating">
                                                    <div class="d-grid gap-2">
                                                        <button class="btn btn-outline-warning btn-sm" type="submit">
                                                            <span class="iconify" data-icon="ant-design:delete-filled"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            <span class="dots"></span>
                                        {% endif %}
                                        <small>Contestar</small>
                                    </div>
                                </div>
                            </div>

                            {% for child_comment in comment.michicomments_set.all|dictsortreversed:"created_at" %}
                                {% if not child_comment.erased %}
                                    <div class="card p-3 ms-5 mt-2">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="user d-flex flex-row align-items-center">
                                                <img src="/media/{{ child_comment.michi_author.profile_picture }}" width="30" class="user-img rounded-circle me-2">
                                                <span>
                                                    <a href="{% url 'view_profile' user_id=child_comment.michi_author.id %}">
                                                        <small class="font-weight-bold text-primary">{{ child_comment.michi_author.nickname }}: </small>
                                                    </a>
                                                    <br>
                                                    <small class="font-weight-bold michi-color ms-3">{{ child_comment.content }}</small>
                                                </span>
                                            </div>
                                            <small class="text-muted">{{ child_comment.created_at }}</small>
                                        </div>
                                        <div class="action d-flex justify-content-between mt-2 align-items-center">
                                            <div class="reply px-4">
                                                {% if comment.michi_author.user.id == request.user.id %}
                                                <form action="{% url 'delete_comment' comment_id=comment.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-floating">
                                                        <div class="d-grid gap-2">
                                                            <button class="btn btn-outline-warning btn-sm" type="submit">
                                                                <span class="iconify" data-icon="ant-design:delete-filled"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                                    <span class="dots"></span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Comentarios -->

{% endblock %}